* **POINT1**
* POINT2
* ***POINT3***

# PYTHON
## PYTHON
### PYTHON

<img src="QUOTE.JPG"/>

* site -[Google][1]
[1]:https://www.google.com/webhp?hl=en&ictx=2&sa=X&ved=0ahUKEwiX-uSsgNXkAhW54XMBHWEeCSwQPQgH

In [5]:
print('Chris' ,end='  ')
print('Brown')

Chris  Brown

## Data types  and Data types Conversion
* int
* float
* string

In [9]:
a= 56.09
b = 'Shraddha'
print(a)
print(b)
print(type(a))
print(type(b))

56.09
Shraddha
<class 'float'>
<class 'str'>

In [14]:
a='100'
b= int(a)
c= float(b)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

100
100
100.0
<class 'str'>
<class 'int'>
<class 'float'>

In [16]:
a=9876
print(len(str(a)))

4

In [19]:
a =input()
print(a,type(a))

43
43 <class 'str'>

In [23]:
print(10/3)
print(10//3)
print(8**2)
print(2+89)

3.3333333333333335
3
64
91

In [25]:
a= 1+23**4/9+22
print(a)

31116.444444444445

## logical operator
* and
* or
* not

In [28]:
a=13
b=(a>9) and (a>=10)
print(b,type(b))
b=(a>9) and (a>100)
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [30]:
a= 320
b= 200
c=(a==b) and (a>10)
d=(a==b) or (a>10)
print(c)
print(d)

False
True

## control flow statement
* conditional statement
 * if-else
* looping statement
 * while
 * for

In [32]:
a =29
b= 21
if a==b:
    print (True)
else:
    print (False)

False

In [33]:
a = int (input())
if(a%2==0):
    print('even')
else:
    print('odd')

32
even

In [37]:
a = int (input())
if(a==0):
    print('zero')
elif a>0:
    print('position')
elif a<0:
    print('negative')

0
zero