In [4]:
S='SHRADDHA'
a='123456'
b='python567'
c='      '
print(S.isupper())
print(S.islower())
print(S.istitle())
print(a.isnumeric())
print(b.isnumeric())
print(S.isalpha())
print(b.isalpha())
print(S.isspace())
print(c.isspace())

True
False
False
True
False
True
False
False
True

In [5]:
s='python programming learn made easy'
li=s.split('a')
print(li)

['python progr', 'mming le', 'rn m', 'de e', 'sy']

In [6]:
s='python programming learn made easy'
print(s.replace(' ','-'))
print(s.replace('a','@'))

python-programming-learn-made-easy
python progr@mming le@rn m@de e@sy

In [7]:
s='python programming learn made easy \n'
p='python is easy'
print(s.join(p))

ppython programming learn made easy
ypython programming learn made easy
tpython programming learn made easy
hpython programming learn made easy
opython programming learn made easy
npython programming learn made easy
 python programming learn made easy
ipython programming learn made easy
spython programming learn made easy
 python programming learn made easy
epython programming learn made easy
apython programming learn made easy
spython programming learn made easy
y

In [8]:
li=['shraddha','vasa']
a=[23,30,54,67]
print('%s%s'%(li[0],li[1]))
print('%d %d %d %d'%(a[0],a[1],a[2],a[3]))

shraddhavasa
23 30 54 67

In [3]:
li=["shraddha","vasa"]
print("list item 0: {0} list item 1: {1}".format(li[0],li[1]))

list item 0: shraddha list item 1: vasa

In [10]:
li=[23,54,89,12]
print("{0} {1} {2} {3}".format(li[0],li[1],li[2],li[3]))

23 54 89 12

In [12]:
d={"Name":"Shraddha", "Email":"shraddhavasa@gmail.com",'Address':'Vizag'}
print(d)

{'Name': 'Shraddha', 'Email': 'shraddhavasa@gmail.com', 'Address': 'Vizag'}

In [13]:
d['Email']

'shraddhavasa@gmail.com'

In [15]:
d['Email']="shraddhavasa22@gmail.com"
print(d)

{'Name': 'Shraddha', 'Email': 'shraddhavasa22@gmail.com', 'Address': 'Vizag'}

In [16]:
d.keys()

dict_keys(['Name', 'Email', 'Address'])

In [17]:
d.values()

dict_values(['Shraddha', 'shraddhavasa22@gmail.com', 'Vizag'])

In [23]:
contact={}
def contacts(name,phone):
    if name not in contact:
        contact[name]=phone
        print('contact details are add successfully')
    else:
        print('name is already')
    return
print(contacts('shraddha','123456789'))
print(contacts('usha','456789123'))
print(contacts('shraddha','123456789'))

contact details are add successfully
None
contact details are add successfully
None
name is already
None

In [30]:
def contacts1(name):
    if name in contact:
        print(name,' :',contact[name])
    else:
        print('%s is not present'%name)
    return
contacts1('shraddha')
contacts1('usha')
contacts1('loshi')

shraddha  : 123456789
usha  : 456789123
loshi is not present

In [32]:
def importcontact(new):
    contact.update(new)
    print(len(new.keys()),'Contact are added')
    return
new={'Vijaya':123456789,'pavani':987654123,'Kris':123654789}
importcontact(new)

3 Contact are added

In [36]:
contact

{'shraddha': 123456789,
 'usha': 987654123,
 'loshi': 123654789,
 'Vijaya': 123456789,
 'pavani': 987654123,
 'Kris': 123654789}

In [46]:
def modify(name,phone):
    if name in contact:
        contact[name]=phone
        print(name,'Update successfully')
    else:
        print(name,'not exist')
    return
modify('Yeshwanth',893212367)
modify('pavani',234567981)

Yeshwanth Update successfully
pavani Update successfully

In [47]:
contact

{'shraddha': 123456789,
 'usha': 987654123,
 'loshi': 123654789,
 'Vijaya': 123456789,
 'pavani': 234567981,
 'Kris': 123654789,
 'kris': 123654789,
 'siva': 234567981,
 'Yeshwanth': 893212367}

In [48]:
def delete(name):
    if name in contact:
        del contact[name]
        print(name,'delete successfully')
    else:
        print(name,'not exist')
    return
delete('Kris')
delete('Yeshwanth')

Kris delete successfully
Yeshwanth delete successfully

In [49]:
contact

{'shraddha': 123456789,
 'usha': 987654123,
 'loshi': 123654789,
 'Vijaya': 123456789,
 'pavani': 234567981,
 'kris': 123654789,
 'siva': 234567981}

In [50]:
def delete(name):
    if name in contact:
        del contact[name]
        print(name,'delete successfully')
    else:
        print(name,'not exist')
    return
delete('Kris')
delete('Yeshwanth')

Kris not exist
Yeshwanth not exist

In [52]:
t=[56,21,42,99]
print(t)
print(t[1::-1])

[56, 21, 42, 99]
[21, 56]

In [58]:
import re
def twodigits(n):
    p='^[0-9]{2}$'
    n=str(n)
    if re.match(p,n):
        return True
    return False
n=int(input())
print(twodigits(n))

13
True

In [6]:
import re
def username(s):
    p='^[a-zA-z]{6,76}$'
    if re.match(p,s):
        return True
    return False
print(username('SHRADDHA'))
print(username('re'))
print(username('GITAMvizag'))

True
False
True

In [8]:
import re
def validate(n):
    p='^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    n=str(n)
    if re.match(p,n):
        return True
    return False
n=input()
print(validate(n))

6302883803
True

In [1]:
import re
def validemail(s):
    p='^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}[@][a-z0-9]{3,18}[.][a-z]{2,4}$'
    if re.match(p,s):
        return True
    return False
validemail('shraddhavasa@gmail.com')

True

In [6]:
import math
math.floor(145.799)

145

In [5]:
import math
math.ceil(134.987)

135

In [7]:
from math import gcd as gcd
gcd(10,25)

5

In [8]:
import random
def randomno(n,lb,ub):
    for i in range (0,n):
        print(random.randint(lb,ub),end=' ')
    return
n=int(input())
lb=int(input())
ub=int(input())
print(randomno(n,lb,ub))

10
0
100
83 29 0 6 57 62 29 36 79 92 None

In [17]:
from random import randint as rdint
def generateno(n,lb,ub):
    li=[]
    for i in range(0,n):
        li.append(rdint(lb,ub))
    return li
n=int(input())
lb=int(input())
ub=int(input())
print(randomno(n,lb,ub))
def check(n):
    li=generateno(n,lb,ub)
    if n in li:
        print('congrats!!!!!')
    else:
        print('try again!!!!!')
    return
check(917)

20
200
999
613 382 240 454 345 902 714 553 589 558 536 314 819 296 351 634 941 875 492 448 None
congrats!!!!!

In [20]:
import turtle
a=turtle.Turtle()
a.goto(-100,0)
a.forward(250)
turtle.done()

In [ ]:
import turtle as tt
a=tt.Turtle()
a.forward(150)
a.right(90)
a.forward(150)
a.right(90)
a.forward(150)
a.right(90)
a.forward(150)
a.right(90)
tt.done()